<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>
<body>
    <ul>
      <li v-for="labor in labores | menosDe time">
        {{labor.nombre}} en {{labor.tiempo}}min
      </li>
    </ul>
  <input type="number" v-model="time">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>
<script>
Vue.filter('menosDe', function(value, time){
  return value.filter(function(val){
    if(val.tiempo <= time){
      return  val
    }
  });
  
})

new Vue({
  el: 'body',
  data: {
    time: 50,
    labores: [
      {nombre: 'Hacer la compra', tiempo: 12},
      {nombre: 'Aprender Vue.js', tiempo: 5},
      {nombre: 'Lavar el coche', tiempo: 22},
    ]
  }
})

</script>
</body>
</html>