// Web config color system
//Titulos, botones, cabeceras...
$color1: #944b96;
// Sobre algo, iconos, separadores...
$color2: #feccff;
//Textos...
$color3: #666666;
// Textos en diapo...
$color4: #FFFFFF;
// Fondos...
$color5: #F5F5F5;
// Pie de pagina...
$color6: #666666;