//+------------------------------------------------------------------+
//| Collapses
//+------------------------------------------------------------------+
.panel-group {
	.panel {
		.panel-heading {
			padding : 0;
			
			.panel-title {
				a {
					display          : block;
					padding          : 10px;
					background-color : lighten($gray-light, 10%);
					transition       : all 0.4s ease-in-out;
					
					&:hover {
						background-color : $gray-light;
					}
				}
			}
		}
		
		&.panel-a {
			.panel-heading {
				.panel-title {
					color : $color4;
					
					a {
						display          : block;
						padding          : 10px;
						background-color : lighten($color1, 10%);
						transition       : all 0.4s ease-in-out;
						
						&:hover {
							background-color : $color1;
						}
					}
				}
			}
		}
	}
}

//+------------------------------------------------------------------+
//| Media query
//+------------------------------------------------------------------+

/* >= col-lg | Large and up*/
@media(min-width : 1200px) {
}

/* == col-md |Medium only col-md */
@media(min-width : 992px) and(max-width : 1199px) {
}

/* == col-sm Small only col-sm */
@media(min-width : 768px) and(max-width : 991px) {
}

/* < col-sm | Small and down */
@media(max-width : 767px) {
}