//+------------------------------------------------------------------+
//| hovers effects
//+------------------------------------------------------------------+

.hover-scale {
	img {
		transform  : scale(1);
		transition : transform .3s ease-in-out;
	}
	
	&:hover {
		img {
			opacity    : .8;
			transform  : scale(1.1);
			cursor     : pointer;
			transition : transform .3s ease-in-out;
		}
	}
}

.hover-rotate {
	img {
		transition : transform 1.5s linear;
		transform  : rotate(0deg);
	}
	
	&:hover {
		img {
			transform  : rotate(360deg);
			transition : transform 20s linear;
		}
	}
}

//+------------------------------------------------------------------+
//| Media query
//+------------------------------------------------------------------+
/* >= col-lg | Large and up*/
@media(min-width : 1200px) {
}

/* == col-md |Medium only col-md */
@media(min-width : 992px) and(max-width : 1199px) {
}

/* == col-sm Small only col-sm */
@media(min-width : 768px) and(max-width : 991px) {
}

/* < col-sm | Small and down */
@media(max-width : 767px) {
}